* {
  font-family: helvetica;
  text-align: center;
}

h1 {
  font-size: 70px;
  color: white;
}

h {
  font-weight: bold;
}

.top {
  background-image:
  url("../images/the-flatiron-building.png");
  background-repeat: no-repeat;
  background-size: cover;
}

a {
  color: white;
  font-size: 18px;
  font-weight: normal;
}

p {
  font-size: 14px;
}

.footer {
  text-align: left;
  font-size: 11px;
  color: white;
  background-color: dimgray;
}

.designed {
  background-image: url("../images/the-flatiron-building.png");
  color: white;
}
